* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif
}

#container {
  background: rgb(240, 248, 255, 1);
  min-width: 250px;
  max-width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  border-radius: 15px;
  padding: 10px;
}

#container #title {
  margin-top: 5px;
  text-align: center;
}

.select-unit {
  width: 100%;
  margin-top: 10px;
}

#convert-button {
  all: unset;
  background: #eee;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  border: 1px solid #999;
  margin-top: 10px;
  transition: 150ms;
}

#convert-button:hover {
  cursor: pointer;
  filter:
    brightness(0.9)
    hue-rotate(5deg);
}

#user-value {
  margin-top: 10px;
  width: 100%;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;  
  gap: 0.2rem;
  height: 40px;
  font: bold 1.2rem;
}

.result img {
  height: 100%;
}

.result.hidden {
  display: none;
}